<template>
  <div class="add-todo">
    <button
      type="button"
      name="button"
      id="plus-button"
      class="button is-primary"
      v-on:click="show = !show; hide = true;">✚
    </button>
    <transition name="slide-fade">
      <div v-if="!hide" v-bind:class="messageKind" class="notification">
        <button class="delete" v-on:click="hide = !hide"></button>
        {{ message }}
      </div>
    </transition>
    <transition name="slide-fade">
      <div v-if="show">
        <div class="field is-grouped">
          <div class="control">
            <input class="input"
                   type="text"
                   placeholder="Text eingeben"
                   autofocus
                   v-model="addTodoForm.text"
                   required>
          </div>
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" v-model="addTodoForm.done"> Erledigt
            </label>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" v-on:click="submitNew">Hinzufügen</button>
          </div>
          <div class="control">
            <button class="button is-dark" v-on:click="cancelNew">Abbrechen</button>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      show: false,
      hide: true,
      addTodoForm: {
        id: '',
        text: '',
        done: '',
      },
      message: '',
      messageKind: '',
    };
  },
  methods: {
    addTodo(payload) {
      if (payload.text) {
        const path = 'http://localhost:5000/todos';
        axios.post(path, payload)
          .then(() => {
            this.$parent.getTodos();
            this.message = `✔ Todo hinzugefügt: ${payload.text}`;
            this.messageKind = 'is-success';
            this.hide = false;
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.log(error);
            this.$parent.getTodos();
          });
      } else {
        this.message = '⚠ Todo leer, nicht hinzugefügt!';
        this.messageKind = 'is-danger';
        this.hide = false;
      }
    },
    initForm() {
      this.addTodoForm.id = '';
      this.addTodoForm.text = '';
      this.addTodoForm.done = false;
    },
    submitNew() {
      this.show = !this.show;
      const payload = {
        text: this.addTodoForm.text,
        done: this.addTodoForm.done,
      };
      this.addTodo(payload);
      this.initForm();
    },
    cancelNew() {
      this.show = !this.show;
    },
  },
  created() {
    this.initForm();
  },
};

</script>

<style lang="scss" scoped>

#plus-button {
  margin-bottom: 20px;
}

.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

</style>
