<template>
  <div class="container">
    <h1 class="is-size-1">Todos</h1>
    <hr>
    <new></new>
    <div class="card" v-for="(todo, index) in todos" :key="index">
      <header class="card-header">
        <div v-if="!todo.editing">
          <p v-on:click="enableEditing(index)"
            class="card-header-title"
            v-bind:class="{ done: todo.done }">
            {{ todo.text }}
          </p>
          <button type="button"
          name="button"
          class="button is-light"
          v-on:click="toggleDone(todo.id)">
          <span v-if="todo.done">⭕</span>
          <span v-else>✅</span>
        </button>
          <button type="button"
                  name="button"
                  v-on:click="removeTodo(todo.id)"
                  class="button is-danger">✖
          </button>
        </div>
        <div v-if="todo.editing">
          <p class="card-header-title">
            <input class="input"
              type="text"
              v-focus
              v-model="todo.text"
            />
          </p>
          <button v-on:click="saveEdit(todo.id, index)" class="button is-success">Speichern
          </button>
        </div>
      </header>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import New from './New';

const focus = {
  inserted(el) {
    el.focus();
  },
};

export default {
  components: {
    new: New,
  },
  data() {
    return {
      todos: [],
    };
  },
  directives: { focus },
  methods: {
    getTodos() {
      const path = 'http://localhost:5000/todos';
      axios.get(path)
        .then((res) => {
          this.todos = res.data.todos;
          this.setEditing();
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    setEditing() {
      for (let i = 0; i < this.todos.length; i += 1) {
        this.$set(this.todos[i], 'editing', false);
      }
    },
    enableEditing(index) {
      for (let i = 0; i < this.todos.length; i += 1) {
        if (!this.todos[index].done) {
          this.todos[index].editing = true;
        }
      }
    },
    saveEdit(id, index) {
      this.editTodo(id);
      this.disableEditing(index);
    },
    toggleDone(id) {
      const path = `http://localhost:5000/todos/toggle-done/${id}`;
      axios.put(path)
        .then(() => {
          this.getTodos();
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getTodos();
        });
    },
    removeTodo(id) {
      const path = `http://localhost:5000/todos/remove/${id}`;
      axios.delete(path)
        .then(() => {
          this.getTodos();
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getTodos();
        });
    },
    editTodo(id) {
      for (let i = 0; i < this.todos.length; i += 1) {
        if (this.todos[i].id === id) {
          const payload = {
            text: this.todos[i].text,
            done: this.todos[i].done,
          };
          const path = `http://localhost:5000/todos/edit/${id}`;
          axios.put(path, payload)
            .then(() => {
              this.getTodos();
            })
            .catch((error) => {
              // eslint-disable-next-line
              console.error(error);
              this.getTodos();
            });
        }
      }
    },
  },
  created() {
    this.getTodos();
  },
};
</script>

<style lang="scss" scoped>

.card {
    margin: 1rem 0;
    .done {
      opacity: 0.2;
    }
}

</style>
